{% extends 'base.html' %}

{% block 'conteudo' %}
            <div class="container">
              
              <br>
              
              <p>
                <label>Nome do livro:</label>
                <input class="form-control" type="text" value="{{livro.nome}}"> 
              </p>
              <p>
                <label>Autor</label>
                <input style="width: 40%;" class="form-control" type="text" value="{{livro.autor}}"> 
              </p>

              <p>
                <label>Co-Autor</label>
                <input style="width: 40%;" class="form-control" type="text" value="{{livro.co_autor}}"> 
              </p>
              <p>
                <label>Data:</label>
                <input style="width: 40%;" class="form-control" type="text" value="{{livro.data_cadastro}}"> 
              </p>
              <label>Categoria</label>
              <select name="categoria">
                <option>Python</option>
              </select>
              <br>
              <br>

              <label>Emprestado &nbsp; &nbsp;</label>
              {% if  livro.emprestado %}

                <input style="transform: scale(2.0);" checked type="checkbox" name="emprestado">
                   
              {% else %}

                <input style="transform: scale(2.0);" type="checkbox" name="emprestado">
                    
              {% endif %}
              <br>
              <br>

              <input type="submit" class="btn btn-success btn-lg" value="Salvar">

            </div>
{% endblock 'conteudo' %}